.row {
    display: table;
    border-spacing: 20px; /* For controlling spacing between cells... */
}

.item {
    display: table-cell;
    height: 30px;
    margin: 10px;
    min-width: 100px;
}

.DateInput_input, .DateInput_input_1 {
  height: 30px;
}